@import './variables.scss';

body{
    background-color: $bgColor;
    color: $textColor;
}

h3{
    color: red;
    border: 1px solid $borderColor;
}
nav{
    ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        li{
            display: inline-block;
            a{
                display: block;
                text-decoration: none;
                color: $textColor;
                font-size: $normalSize;
                padding: 15px;
                background: $linkBgColor;
                &:hover{
                    background: $linkBgHover;
                    color: $textLinkColorHover;
                }
            }
        }
        
    }
}